%display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-section {
  .block-center{
    @extend %display-flex;
  }
  background-color: #E9ECEF;
  height: 100vh;
  @extend %display-flex;
  .about-us-info{
    width: 50%;
    height: 500px;
    text-align: center;
    margin-right: 120px;
    margin-left: -120px;
    p{
      margin-top: 20px;
      font-size: 1.5em;
    }
  }

  .about-us-image{
    width: 50%;
    height: 700px;
    img{
      height: 100%;
    }
  }
}