%display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-section {
  .block-center{
    @extend %display-flex;
  }
  background-color: #E9ECEF;
  height: 100vh;
  @extend %display-flex;
  .about-us-info{
    width: 30%;
    height: 300px;
    text-align: center;
    p{
      margin-top: 20px;
      font-size: 1.2em;
    }
  }
  .about-us-image{
    width: 50%;
    height: 300px;
  }
}