.footer{
  height: 100vh;
  background-image: url("/../../images/footer_bg_img.jpg");
  .contact-block-position{
    display: flex;
    justify-content: flex-end;
    .contact-block{
      height: 650px;
      width: 600px;
      h3{
        padding-top: 40px;
        text-align: center;
        font-size: 2.6em;
      }
      img{
        padding-bottom: 150px;
      }
      .footer-form{
        p{
          padding-left: 30px;
        }
        input{
          margin: 30px;
          border: none;
          border-bottom: 1px solid #000000;
          width: 220px;
        }
        input:nth-child(4){
          width: 500px;
        }
        button {
          width: 90px;
          height: 45px;
          background: none;
          border: 1px solid #000000;
        }
      }
    }
  }
  .footer-signature{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .media-icons{
    }
    i{
      padding: 10px;
      margin: 5px;
      width: 50px;
      font-size: 1.3em;
      border: 1px solid #000000;
      text-align: center;
    }
  }
}