.footer{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  .contact-block-position{
    display: flex;
    justify-content: flex-end;
    .frame-position{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .contact-block{
      height: 700px;
      width: 700px;
      h3{
        padding-top: 40px;
        text-align: center;
        font-size: 2.6em;
      }
      img{
        padding-bottom: 80px;
      }
      .footer-form{
        p{
          padding-left: 30px;
        }
        input{
          margin: 30px;
          border: none;
          border-bottom: 1px solid #000000;
          background: none;
          width: 230px;
        }
        input:nth-child(4){
          width: 523px;
        }
        .form-button{
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            width: 90px;
            height: 45px;
            background: none;
            border: 1px solid #000000;
          }
        }
      }
    }
  }
  .footer-signature{
    margin-top: 30px;
    .p-position{
      text-align: center;
      margin-bottom: -60px;
    }
    .media-icons{
      display: flex;
      justify-content: right;
    }
    i{
      padding: 10px;
      margin: 5px;
      width: 50px;
      font-size: 1.3em;
      border: 1px solid #000000;
      text-align: center;
    }
  }
}