.navbar{
  font-size: 1em;
  height: 100vh;
  //background-image: url("../../images/header_start_img.jpg");
  .nav-links-blocks {
    .nav-links{

      padding: 20px 30px;
      margin: 10px;
    }
  }
}