.help-info-section{
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  .help-info-block{
    width: 480px;
    height: 400px;
    button{
      width: 140px;
      height: 60px;
      margin: 50px 10px;
      float: left;
      background: none;
      border: none;
    }
    button:hover{
      border: 1px solid #000000;
    }
  }
}