.login-header{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 40px;
  .login-header-block{
    float: right;
    input{
      background: none;
      border: none;
      margin-bottom: 20px;
      margin-right: 5px;
    }
    ul{
      list-style-type: none;
      padding: 15px;
      border: 1px solid #000000;
      width: 130px;
      height: 155px;
      li{
        float: right;
        margin-bottom: 5px;
      }
    }
  }
}