.login-section{
  height: 100vh;
  .login-block{
    margin-left: 500px;
    margin-top: 145px;
    height: 330px;
    width: 450px;
    .pg-login-block{
      .login-block-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        img{
          margin-bottom: 45px;
        }
        input:first-of-type{
          margin-bottom: 40px;
        }
        input{
          background: none;
          border: none;
          border-bottom: 1px solid #000000;
          width: 100%;
          height: 50px;
          padding-left: 20px;
        }
      }
      #pass-forget{
        opacity: .5;
        font-size: 14px;
        float: right;
        border: none;
        background: none;
      }
    }
    }
  .login-block-btn{
    width: 450px;
    display: flex;
    justify-content: space-between;
    input{
      margin-top: 35px;
    }
    input:first-of-type{
      border: none;
      background: none;
      font-size: 15px;
      padding: 10px;
    }
    input:hover{
      border: 1px solid #000000;
    }
    input:nth-of-type(2){
      border: none;
      background: none;
      padding: 10px;
    }
  }
}