.register-section{
  height: 100vh;
    .register-block{
      margin-left: 500px;
      margin-top: 145px;
      height: 330px;
      width: 450px;
      .pg-register-block{
        .register-block-form{
          display: flex;
          align-items: center;
          flex-direction: column;
          img{
            margin-bottom: 45px;
          }
          input:first-of-type{
            margin-bottom: 30px;
          }
          input:nth-of-type(2){
            margin-bottom: 30px;
          }
          input{
            background: none;
            border: none;
            border-bottom: 1px solid #000000;
            width: 100%;
            height: 50px;
            padding-left: 20px;
          }
        }
      }
    }
    .register-block-btn{
      width: 450px;
      display: flex;
      justify-content: space-between;
      input{
        margin-top: 50px;
      }
      input:first-of-type{
        border: none;
        background: none;
        font-size: 15px;
        padding: 10px;
      }
      input:nth-of-type(2){
        border: none;
        background: none;
        padding: 10px;
      }
      input:nth-of-type(2):hover{
        border: 1px solid #000000;
      }
    }
  }
