.steps-item-section{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  .steps-item-block{
    height: 550px;
    width: 40%;
    margin-left: 100px;
    padding-top: 30px;
    .steps-form{
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 1.6em;
    }
    #steps-btn{
      background: none;
      border: 1px solid #000000;
      width: 100px;
      height: 60px;
      margin-top: 25px;
    }
    input{
      margin-bottom: 20px;
    }
  }

}