.steps-item-section{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  .steps-item-block{
    height: 550px;
    width: 40%;
    margin-left: 100px;
    padding-top: 30px;
    #sec-step-h2{
     padding-top: 80px;
      width: 150%;
      font-weight: bold;
    }
    .steps-form{
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 1.6em;
      .second-select{
        margin-left: 30px;
        width: 250px;
      }
      .third-select{
        width: 250px;
      }
      .btn-choice-block{
        margin: 35px 0;
        .btn-choice{
          background-color: #ffffff;
          border: 1px solid #000000;
          padding: 10px;
          margin: 10px;
          font-size: 0.8em;
        }
      }
      .btn-optional{
        .input-position{
          h4{
            margin-bottom: 20px;
          }
          input{
            margin-left: 10px;
          }
        }
      }
      .bold-font{
        font-weight: bold;
      }
      .sec-btn{
        margin-top: 50px;
      }
      .sec-btn:nth-of-type(2){
        margin-left: 20px;
      }
    }
    .steps-btn{
      background: none;
      border: 1px solid #000000;
      width: 120px;
      height: 60px;
      margin-top: 25px;
    }
    .btn-position{
      margin-top: 15px;
      margin-left: 10px;
    }
    .btn-position:nth-of-type(2){
      margin-left: 20px;
    }
    input{
      margin-bottom: 20px;
    }
  }

}