@import "components style/header-style.scss";
@import "components style/banner-section-style";
@import "components style/tips-section-style.scss";
@import "components style/help-info-section-style.scss";
@import "components style/about-us-section-style.scss";
@import "components style/footer-style.scss";
@import "components style/partials/reset.scss";
@import "components style/login-section";
@import "components style/register-section";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";